.log-out-button {
    background-color: #de3024 !important;
    transition: background 0.3s ease !important;
    color: white !important;
    border: none !important;
}

.log-out-button:hover {
    background-color: #de3024da !important;
}